body {
  font-family: "League Spartan", sans-serif;
  font-size: large;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.img-fluid {
  height: auto;
  max-width: 100%;
  margin-top: 1.5rem;
  margin-left: 0;
}

@-webkit-keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.wave-bg {
  display: block;
  height: 240px;
  width: 100%;
  min-width: 600px;
  transform-origin: top;
  -webkit-animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
          animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background-image: url("./images/wave-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  justify-content: flex-start; /* Ensure content starts from the top */
  align-items: stretch; /* Ensure the card's width stretches with the content */
}

.card-img-top {
  width: 100%; /* Make the image container take the full width of the card */
  height: auto; /* Keep aspect ratio */
}

.card-img-top img {
  width: 100%; /* Make the image take up the full width of the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure image fills the container without distortion */
}

.card-body {
  padding: 1.5rem; /* Adjust content padding */
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }

  .img-fluid {
    margin-left: 0;
  }

  .portfolio-container {
    padding-left: 0;
    display: block
  }
}

